<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Login.jsp
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>RedirectPassengerForm</servlet-name>
        <servlet-class>RailwayTicketReservation.RedirectPassengerForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookTicket</servlet-name>
        <servlet-class>RailwayTicketReservation.bookTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBooking</servlet-name>
        <servlet-class>RailwayTicketReservation.ConfirmBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkPNR</servlet-name>
        <servlet-class>RailwayTicketReservation.checkPNR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelTicket</servlet-name>
        <servlet-class>RailwayTicketReservation.CancelTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertIntoDb</servlet-name>
        <servlet-class>RailwayTicketReservation.InsertIntoDb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewBookings</servlet-name>
        <servlet-class>RailwayTicketReservation.viewBookings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterForm</servlet-name>
        <servlet-class>RailwayTicketReservation.RegisterForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectPassengerForm</servlet-name>
        <url-pattern>/RedirectPassengerForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookTicket</servlet-name>
        <url-pattern>/bookTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBooking</servlet-name>
        <url-pattern>/ConfirmBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkPNR</servlet-name>
        <url-pattern>/checkPNR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelTicket</servlet-name>
        <url-pattern>/CancelTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertIntoDb</servlet-name>
        <url-pattern>/InsertIntoDb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterForm</servlet-name>
        <url-pattern>/RegisterForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
